body{
    background-image: url("../images/space.jpg");
    background-size: 100%;
}

#navbar-image{
    height: 35px;
}

#div-bottom-navbar{
    background-color:#C63C32 ;
    opacity: 61%;
    padding-top: 2px;
}

#top-div{
    color: lightgrey;
    
    text-align: center;

    margin-top: 50px;
}

#cards-div{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.card{
    background-color: #C63C32;
    border-radius: 10px;
    opacity: 41%;
    text-align: center;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
}


.btn{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    
    opacity: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
