body{
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar-image{
    height: 35px;
}


#div-bottom-navbar{
    background-color:#C63C32 ;
    opacity: 61%;
    padding-top: 2px;
}

#top-div{
    color: lightgrey;
    text-align: center;

    margin-top: 50px;
}


#cards-div{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.a-card{
    color:inherit;
    text-decoration: inherit;
}

.card{
    background-color: #eae8e7;
    border-radius: 10px;
    opacity:51%;
    text-align: center;
    font-size: larger;

    padding-top: 10%;
    padding-bottom: 10%;

    transition: 0.2s;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}

.card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: 0.2s;
}

.btn{
    opacity: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    
}

.modal-content{
    background-color: #b84717;
    color: #f0f0f0;
}

/* Page Stream.html */

#streamDiv{
    margin-top: 50px;
    background-color: #eae8e7;
    border-radius: 10px;
    opacity:51%;
}

.embed-responsive iframe{
    height: 100%;
    width: 100%;
}

#videoLinkDiv{
    display: flex;
}

#videoLinkDiv input{
    opacity: 50%;
    height: fit-content;
    margin-top: auto;
    margin-right: 2%;
}
